:root {
  --material-themewhite: rgba(255, 255, 255, 1);
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themesyslightprimary: rgba(103, 80, 164, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslightprimary-container: rgba(234, 221, 255, 1);
  --material-themesyslighton-primary-container: rgba(33, 0, 93, 1);
  --material-themesyslightprimary-fixed: rgba(234, 221, 255, 1);
  --material-themesyslighton-primary-fixed: rgba(33, 0, 93, 1);
  --material-themesyslightprimary-fixed-dim: rgba(208, 188, 255, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(79, 55, 139, 1);
  --material-themesyslightsecondary: rgba(98, 91, 113, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslightsecondary-container: rgba(232, 222, 248, 1);
  --material-themesyslighton-secondary-container: rgba(29, 25, 43, 1);
  --material-themesyslightsecondary-fixed: rgba(232, 222, 248, 1);
  --material-themesyslighton-secondary-fixed: rgba(29, 25, 43, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(204, 194, 220, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(74, 68, 88, 1);
  --material-themesyslighttertiary: rgba(125, 82, 96, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighttertiary-container: rgba(255, 216, 228, 1);
  --material-themesyslighton-tertiary-container: rgba(49, 17, 29, 1);
  --material-themesyslighttertiary-fixed: rgba(255, 216, 228, 1);
  --material-themesyslighton-tertiary-fixed: rgba(49, 17, 29, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(239, 184, 200, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(99, 59, 72, 1);
  --material-themesyslighterror: rgba(179, 38, 30, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighterror-container: rgba(249, 222, 220, 1);
  --material-themesyslighton-error-container: rgba(65, 14, 11, 1);
  --material-themesyslightoutline: rgba(121, 116, 126, 1);
  --material-themesyslightbackground: rgba(254, 247, 255, 1);
  --material-themesyslighton-background: rgba(29, 27, 32, 1);
  --material-themesyslightsurface: rgba(254, 247, 255, 1);
  --material-themesyslighton-surface: rgba(29, 27, 32, 1);
  --material-themesyslightsurface-variant: rgba(231, 224, 236, 1);
  --material-themesyslighton-surface-variant: rgba(73, 69, 79, 1);
  --material-themesyslightinverse-surface: rgba(50, 47, 53, 1);
  --material-themesyslightinverse-on-surface: rgba(245, 239, 247, 1);
  --material-themesyslightinverse-primary: rgba(208, 188, 255, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-tint: rgba(103, 80, 164, 1);
  --material-themesyslightoutline-variant: rgba(202, 196, 208, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-container-highest: rgba(230, 224, 233, 1);
  --material-themesyslightsurface-container-high: rgba(236, 230, 240, 1);
  --material-themesyslightsurface-container: rgba(243, 237, 247, 1);
  --material-themesyslightsurface-container-low: rgba(247, 242, 250, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-bright: rgba(254, 247, 255, 1);
  --material-themesyslightsurface-dim: rgba(222, 216, 225, 1);
  --material-themesysdarkprimary: rgba(208, 188, 255, 1);
  --material-themesysdarkon-primary: rgba(56, 30, 114, 1);
  --material-themesysdarkprimary-container: rgba(79, 55, 139, 1);
  --material-themesysdarkon-primary-container: rgba(234, 221, 255, 1);
  --material-themesysdarkprimary-fixed: rgba(234, 221, 255, 1);
  --material-themesysdarkon-primary-fixed: rgba(33, 0, 93, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(208, 188, 255, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(79, 55, 139, 1);
  --material-themesysdarksecondary: rgba(204, 194, 220, 1);
  --material-themesysdarkon-secondary: rgba(51, 45, 65, 1);
  --material-themesysdarksecondary-container: rgba(74, 68, 88, 1);
  --material-themesysdarkon-secondary-container: rgba(232, 222, 248, 1);
  --material-themesysdarksecondary-fixed: rgba(232, 222, 248, 1);
  --material-themesysdarkon-secondary-fixed: rgba(29, 25, 43, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(204, 194, 220, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(74, 68, 88, 1);
  --material-themesysdarktertiary: rgba(239, 184, 200, 1);
  --material-themesysdarkon-tertiary: rgba(73, 37, 50, 1);
  --material-themesysdarktertiary-container: rgba(99, 59, 72, 1);
  --material-themesysdarkon-tertiary-container: rgba(255, 216, 228, 1);
  --material-themesysdarktertiary-fixed: rgba(255, 216, 228, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(49, 17, 29, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(239, 184, 200, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(99, 59, 72, 1);
  --material-themesysdarkerror: rgba(242, 184, 181, 1);
  --material-themesysdarkon-error: rgba(96, 20, 16, 1);
  --material-themesysdarkerror-container: rgba(140, 29, 24, 1);
  --material-themesysdarkon-error-container: rgba(249, 222, 220, 1);
  --material-themesysdarkoutline: rgba(147, 143, 153, 1);
  --material-themesysdarkbackground: rgba(20, 18, 24, 1);
  --material-themesysdarkon-background: rgba(230, 224, 233, 1);
  --material-themesysdarksurface: rgba(20, 18, 24, 1);
  --material-themesysdarkon-surface: rgba(230, 224, 233, 1);
  --material-themesysdarksurface-variant: rgba(73, 69, 79, 1);
  --material-themesysdarkon-surface-variant: rgba(202, 196, 208, 1);
  --material-themesysdarkinverse-surface: rgba(230, 224, 233, 1);
  --material-themesysdarkinverse-on-surface: rgba(50, 47, 53, 1);
  --material-themesysdarkinverse-primary: rgba(103, 80, 164, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-tint: rgba(208, 188, 255, 1);
  --material-themesysdarkoutline-variant: rgba(73, 69, 79, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-container-highest: rgba(54, 52, 59, 1);
  --material-themesysdarksurface-container-high: rgba(43, 41, 48, 1);
  --material-themesysdarksurface-container: rgba(33, 31, 38, 1);
  --material-themesysdarksurface-container-low: rgba(29, 27, 32, 1);
  --material-themesysdarksurface-container-lowest: rgba(15, 13, 19, 1);
  --material-themesysdarksurface-bright: rgba(59, 56, 62, 1);
  --material-themesysdarksurface-dim: rgba(20, 18, 24, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(33, 0, 93, 1);
  --material-themerefprimaryprimary20: rgba(56, 30, 114, 1);
  --material-themerefprimaryprimary30: rgba(79, 55, 139, 1);
  --material-themerefprimaryprimary40: rgba(103, 80, 164, 1);
  --material-themerefprimaryprimary50: rgba(127, 103, 190, 1);
  --material-themerefprimaryprimary60: rgba(154, 130, 219, 1);
  --material-themerefprimaryprimary70: rgba(182, 157, 248, 1);
  --material-themerefprimaryprimary80: rgba(208, 188, 255, 1);
  --material-themerefprimaryprimary90: rgba(234, 221, 255, 1);
  --material-themerefprimaryprimary95: rgba(246, 237, 255, 1);
  --material-themerefprimaryprimary99: rgba(255, 251, 254, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(29, 25, 43, 1);
  --material-themerefsecondarysecondary20: rgba(51, 45, 65, 1);
  --material-themerefsecondarysecondary30: rgba(74, 68, 88, 1);
  --material-themerefsecondarysecondary40: rgba(98, 91, 113, 1);
  --material-themerefsecondarysecondary50: rgba(122, 114, 137, 1);
  --material-themerefsecondarysecondary60: rgba(149, 141, 165, 1);
  --material-themerefsecondarysecondary70: rgba(176, 167, 192, 1);
  --material-themerefsecondarysecondary80: rgba(204, 194, 220, 1);
  --material-themerefsecondarysecondary90: rgba(232, 222, 248, 1);
  --material-themerefsecondarysecondary95: rgba(246, 237, 255, 1);
  --material-themerefsecondarysecondary99: rgba(255, 251, 254, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(49, 17, 29, 1);
  --material-themereftertiarytertiary20: rgba(73, 37, 50, 1);
  --material-themereftertiarytertiary30: rgba(99, 59, 72, 1);
  --material-themereftertiarytertiary40: rgba(125, 82, 96, 1);
  --material-themereftertiarytertiary50: rgba(152, 105, 119, 1);
  --material-themereftertiarytertiary60: rgba(181, 131, 146, 1);
  --material-themereftertiarytertiary70: rgba(210, 157, 172, 1);
  --material-themereftertiarytertiary80: rgba(239, 184, 200, 1);
  --material-themereftertiarytertiary90: rgba(255, 216, 228, 1);
  --material-themereftertiarytertiary95: rgba(255, 236, 241, 1);
  --material-themereftertiarytertiary99: rgba(255, 251, 250, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 14, 11, 1);
  --material-themereferrorerror20: rgba(96, 20, 16, 1);
  --material-themereferrorerror30: rgba(140, 29, 24, 1);
  --material-themereferrorerror40: rgba(179, 38, 30, 1);
  --material-themereferrorerror50: rgba(220, 54, 46, 1);
  --material-themereferrorerror60: rgba(228, 105, 98, 1);
  --material-themereferrorerror70: rgba(236, 146, 142, 1);
  --material-themereferrorerror80: rgba(242, 184, 181, 1);
  --material-themereferrorerror90: rgba(249, 222, 220, 1);
  --material-themereferrorerror95: rgba(252, 238, 238, 1);
  --material-themereferrorerror99: rgba(255, 251, 249, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral4: rgba(15, 13, 19, 1);
  --material-themerefneutralneutral6: rgba(20, 18, 24, 1);
  --material-themerefneutralneutral10: rgba(29, 27, 32, 1);
  --material-themerefneutralneutral12: rgba(33, 31, 38, 1);
  --material-themerefneutralneutral17: rgba(43, 41, 48, 1);
  --material-themerefneutralneutral20: rgba(50, 47, 53, 1);
  --material-themerefneutralneutral22: rgba(54, 52, 59, 1);
  --material-themerefneutralneutral24: rgba(59, 56, 62, 1);
  --material-themerefneutralneutral30: rgba(72, 70, 76, 1);
  --material-themerefneutralneutral40: rgba(96, 93, 100, 1);
  --material-themerefneutralneutral50: rgba(121, 118, 125, 1);
  --material-themerefneutralneutral60: rgba(147, 143, 150, 1);
  --material-themerefneutralneutral70: rgba(174, 169, 177, 1);
  --material-themerefneutralneutral80: rgba(202, 197, 205, 1);
  --material-themerefneutralneutral87: rgba(222, 216, 225, 1);
  --material-themerefneutralneutral90: rgba(230, 224, 233, 1);
  --material-themerefneutralneutral92: rgba(236, 230, 240, 1);
  --material-themerefneutralneutral94: rgba(243, 237, 247, 1);
  --material-themerefneutralneutral95: rgba(245, 239, 247, 1);
  --material-themerefneutralneutral96: rgba(247, 242, 250, 1);
  --material-themerefneutralneutral99: rgba(255, 251, 255, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(29, 26, 34, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(50, 47, 55, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(73, 69, 79, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(96, 93, 102, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(121, 116, 126, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(147, 143, 153, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(174, 169, 180, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(202, 196, 208, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(231, 224, 236, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(245, 238, 250, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(255, 251, 254, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themekey-colorsprimary: rgba(103, 80, 164, 1);
  --material-themesourceseed: rgba(103, 80, 164, 1);
  --m3syslightoutline-variant: rgba(192, 200, 204, 1);
  --m3syslighton-surface-variant: rgba(64, 72, 76, 1);
  --m3syslighton-surface: rgba(25, 28, 30, 1);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --m-3syslightprimary: rgba(0, 103, 131, 1);
  --m3state-layerslightprimaryopacity-012: rgba(103, 80, 164, 0.12);
  --m3state-layerslightprimaryopacity-008: rgba(103, 80, 164, 0.08);
  --m3state-layerslighton-primaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslighton-primaryopacity-008: rgba(255, 255, 255, 0.08);
  --m-3syslightsurface: rgba(248, 249, 251, 1);
  --m-3syslightoutline: rgba(112, 120, 125, 1);
  --m3state-layerslighton-surfaceopacity-008: rgba(29, 27, 32, 0.08);
  --m3syslightsurface-container-highest: rgba(225, 226, 228, 1);
  --m3state-layerslighton-surface-variantopacity-012: rgba(73, 69, 79, 0.12);
  --m3state-layerslighton-surface-variantopacity-008: rgba(73, 69, 79, 0.08);
  --m3syslightsurface-container-high: rgba(231, 232, 234, 1);
  --m3syslighton-secondary-container: rgba(8, 30, 39, 1);
  --m3syslightsecondary-container: rgba(208, 230, 242, 1);
  --m3syslightsurface-container-low: rgba(242, 244, 245, 1);
  --m3state-layerslighton-surfaceopacity-012: rgba(29, 27, 32, 0.12);
  --m3state-layerslighton-secondary-containeropacity-008: rgba(29, 25, 43, 0.08);
  --m3state-layerslighton-secondary-containeropacity-012: rgba(29, 25, 43, 0.12);
  --material-theme-display-large-font-family: "Inter-Regular", Helvetica;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: "Inter-Regular", Helvetica;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: "Inter-Regular", Helvetica;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: "Inter-Regular", Helvetica;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: "Inter-Regular", Helvetica;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: "Inter-Regular", Helvetica;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: "Inter-Regular", Helvetica;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: "Inter-Medium", Helvetica;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: "Inter-Medium", Helvetica;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: "Inter-Regular", Helvetica;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: "Inter-Regular", Helvetica;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: "Inter-Regular", Helvetica;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: "Inter-Medium", Helvetica;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: "Inter-Medium", Helvetica;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: "Inter-Medium", Helvetica;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-style: normal;
  --m3-title-medium-font-family: "Roboto-Medium", Helvetica;
  --m3-title-medium-font-weight: 500;
  --m3-title-medium-font-size: 16px;
  --m3-title-medium-letter-spacing: 0.15000000596046448px;
  --m3-title-medium-line-height: 24px;
  --m3-title-medium-font-style: normal;
  --m3-body-medium-font-family: "Roboto-Regular", Helvetica;
  --m3-body-medium-font-weight: 400;
  --m3-body-medium-font-size: 14px;
  --m3-body-medium-letter-spacing: 0.25px;
  --m3-body-medium-line-height: 20px;
  --m3-body-medium-font-style: normal;
  --m3-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --m3-headline-medium-font-weight: 400;
  --m3-headline-medium-font-size: 28px;
  --m3-headline-medium-letter-spacing: 0px;
  --m3-headline-medium-line-height: 36px;
  --m3-headline-medium-font-style: normal;
  --m3-body-small-font-family: "Roboto-Regular", Helvetica;
  --m3-body-small-font-weight: 400;
  --m3-body-small-font-size: 12px;
  --m3-body-small-letter-spacing: 0px;
  --m3-body-small-line-height: 16px;
  --m3-body-small-font-style: normal;
  --m3-body-large-font-family: "Roboto-Regular", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-label-large-font-family: "Roboto-Medium", Helvetica;
  --m3-label-large-font-weight: 500;
  --m3-label-large-font-size: 14px;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-label-large-font-style: normal;
  --m3-title-large-font-family: "Roboto-Regular", Helvetica;
  --m3-title-large-font-weight: 400;
  --m3-title-large-font-size: 22px;
  --m3-title-large-letter-spacing: 0px;
  --m3-title-large-line-height: 28px;
  --m3-title-large-font-style: normal;
  --m3-title-small-font-family: "Roboto-Medium", Helvetica;
  --m3-title-small-font-weight: 500;
  --m3-title-small-font-size: 14px;
  --m3-title-small-letter-spacing: 0.10000000149011612px;
  --m3-title-small-line-height: 20px;
  --m3-title-small-font-style: normal;
  --m3-label-large-prominent-font-family: "Roboto-SemiBold", Helvetica;
  --m3-label-large-prominent-font-weight: 600;
  --m3-label-large-prominent-font-size: 14px;
  --m3-label-large-prominent-letter-spacing: 0.10000000149011612px;
  --m3-label-large-prominent-line-height: 20px;
  --m3-label-large-prominent-font-style: normal;
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
