.user-dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-dashboard .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 1080px;
  position: relative;
}

.user-dashboard .navigation-drawer {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 1016px;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  top: 64px;
  left: 0;
  background-color: var(--material-themesyslightsurface);
  border-radius: 16px;
  overflow: hidden;
}

.user-dashboard .headline {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 8px 8px 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.user-dashboard .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: var(--m3-title-small-font-family);
  font-weight: var(--m3-title-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-title-small-font-size);
  letter-spacing: var(--m3-title-small-letter-spacing);
  line-height: var(--m3-title-small-line-height);
  font-style: var(--m3-title-small-font-style);
}

.user-dashboard .section-header {
  display: flex;
  width: 336px;
  align-items: center;
  gap: 10px;
  padding: 18px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.user-dashboard .left {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.user-dashboard .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-title-small-font-family);
  font-weight: var(--m3-title-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-title-small-font-size);
  letter-spacing: var(--m3-title-small-letter-spacing);
  line-height: var(--m3-title-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-title-small-font-style);
}

.user-dashboard .nav-item {
  display: flex;
  width: 96.5%;
  height: 56px;
  align-items: center;
  gap: 12px;
  position: relative;
  background-color: var(--material-themesyslightsecondary-container);
  border-radius: 100px;
  overflow: hidden;
}

.user-dashboard .state-layer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px 16px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.user-dashboard .img {
  position: relative;
  width: 12px;
  height: 12px;
}
.user-dashboard .img2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.user-dashboard .text-wrapper-2 {
  position: relative;
  flex: 1;
  font-family: var(--m3-label-large-prominent-font-family);
  font-weight: var(--m3-label-large-prominent-font-weight);
  color: var(--m3syslighton-secondary-container);
  font-size: var(--m3-label-large-prominent-font-size);
  letter-spacing: var(--m3-label-large-prominent-letter-spacing);
  line-height: var(--m3-label-large-prominent-line-height);
  font-style: var(--m3-label-large-prominent-font-style);
}

.user-dashboard .badge-label-text {
  position: relative;
  width: fit-content;
  font-family: var(--m3-label-large-prominent-font-family);
  font-weight: var(--m3-label-large-prominent-font-weight);
  color: var(--m3syslighton-secondary-container);
  font-size: var(--m3-label-large-prominent-font-size);
  text-align: right;
  letter-spacing: var(--m3-label-large-prominent-letter-spacing);
  line-height: var(--m3-label-large-prominent-line-height);
  white-space: nowrap;
  font-style: var(--m3-label-large-prominent-font-style);
}

.user-dashboard .state-layer-wrapper {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  gap: 12px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.user-dashboard .state-layer-wrapper:hover {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  gap: 12px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  background-color: #e8def8;
}

.user-dashboard .text-wrapper-3 {
  position: relative;
  flex: 1;
  font-family: var(--m3-label-large-font-family);
  font-weight: var(--m3-label-large-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-label-large-font-size);
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  font-style: var(--m3-label-large-font-style);
}

.user-dashboard .badge-label-text-2 {
  position: relative;
  width: fit-content;
  font-family: var(--m3-label-large-font-family);
  font-weight: var(--m3-label-large-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-label-large-font-size);
  text-align: right;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.user-dashboard .divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 16px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.user-dashboard .divider-2 {
  height: 1px;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.user-dashboard .top-app-bar {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  gap: 24px;
  padding: 8px 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--material-themesyslightprimary);
}

.user-dashboard .div-2 {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.user-dashboard .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.user-dashboard .img-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.user-dashboard .headline-2 {
  position: relative;
  flex: 1;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: var(--material-themesyslighton-primary);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
}

.user-dashboard .horizontal-card {
  width: 956px;
  position: absolute;
  top: 1151px;
  left: 421px;
  display: flex;
  height: 80px;
  align-items: flex-start;
  border-radius: 12px;
}

.user-dashboard .card-state-layer {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--material-themesyslightsurface);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--m3syslightoutline-variant);
}

.user-dashboard .content-container {
  align-self: stretch;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--m3syslightoutline-variant);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.user-dashboard .header {
  display: flex;
  width: 956px;
  height: 80px;
  align-items: center;
  position: relative;
}

.user-dashboard .content {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.user-dashboard .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.user-dashboard .header-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--m3-title-medium-font-family);
  font-weight: var(--m3-title-medium-font-weight);
  color: var(--material-themesyslighton-surface);
  font-size: var(--m3-title-medium-font-size);
  letter-spacing: var(--m3-title-medium-letter-spacing);
  line-height: var(--m3-title-medium-line-height);
  font-style: var(--m3-title-medium-font-style);
}

.user-dashboard .subhead {
  width: 56.81px;
  text-align: center;
  position: relative;
  font-family: var(--m3-body-medium-font-family);
  font-weight: var(--m3-body-medium-font-weight);
  color: var(--material-themesyslighton-surface);
  font-size: var(--m3-body-medium-font-size);
  letter-spacing: var(--m3-body-medium-letter-spacing);
  line-height: var(--m3-body-medium-line-height);
  font-style: var(--m3-body-medium-font-style);
}

.user-dashboard .media {
  position: relative;
  align-self: stretch;
  width: 80px;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--m3syslightoutline-variant);
}

.user-dashboard .media-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -10px;
  left: 383px;
  object-fit: cover;
}

.user-dashboard .search-bar {
  display: flex;
  width: 50.5%;
  height: 56px;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 104px;
  left: 25%;
  background-color: var(--material-themesyslightsurface);
  border-radius: 28px;
  overflow: hidden;
}

.user-dashboard .state-layer-2 {
  display: flex;
  gap: 4px;
  padding: 4px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.user-dashboard .supporting-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.user-dashboard .supporting-text {
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--material-themesyslighton-surface);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.user-dashboard .trailing-elements {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.user-dashboard .frame {
  flex-wrap: wrap;
  width: 50%;
  gap: 24px 24px;
  position: absolute;
  top: 184px;
  left: 25%;
  display: flex;
  align-items: flex-start;
}

.user-dashboard .p {
  position: relative;
  width: 496px;
  height: 40px;
  margin-top: -1px;
  font-family: var(--m3-headline-medium-font-family);
  font-weight: var(--m3-headline-medium-font-weight);
  color: #000000;
  font-size: var(--m3-headline-medium-font-size);
  letter-spacing: var(--m3-headline-medium-letter-spacing);
  line-height: var(--m3-headline-medium-line-height);
  white-space: nowrap;
  font-style: var(--m3-headline-medium-font-style);
}

.user-dashboard .stacked-card {
  display: flex;
  width: 46%;
  height: 250px;
  align-items: flex-start;
  position: relative;
  border-radius: 12px;
}

.user-dashboard .card-state-layer-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--material-themesyslightsurface);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--m3syslightoutline-variant);
}

.user-dashboard .media-text-content {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 464px;
  align-items: center;
  position: relative;
}

.user-dashboard .header-3 {
  display: flex;
  height: 72px;
  align-items: center;
  padding: 12px 4px 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.user-dashboard .content-2 {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.user-dashboard .subhead-2 {
  align-self: stretch;
  position: relative;
  font-family: var(--m3-body-medium-font-family);
  font-weight: var(--m3-body-medium-font-weight);
  color: var(--material-themesyslighton-surface);
  font-size: var(--m3-body-medium-font-size);
  letter-spacing: var(--m3-body-medium-letter-spacing);
  line-height: var(--m3-body-medium-line-height);
  font-style: var(--m3-body-medium-font-style);
}

.user-dashboard .media-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.user-dashboard .media-4 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-image: url(./img/media.png);
  background-size: cover;
  background-position: 50% 50%;
}

.user-dashboard .text-wrapper-4 {
  position: relative;
  width: 30.04%;
  height: 40px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.user-dashboard .horizontal-card-2 {
  display: flex;
  width: 95%;
  height: 80px;
  align-items: flex-start;
  position: relative;
  border-radius: 12px;
}

.user-dashboard .frame-2 {
  flex-direction: column;
  width: 21.5%;
  height: 456px;
  gap: 24px;
  position: absolute;
  top: 184px;
  left: 75.88%;
  display: flex;
  align-items: flex-start;
}

.user-dashboard .frame-3 {
  gap: 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}

.user-dashboard .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.user-dashboard .button {
  display: flex;
  flex-direction: column;
  width: 85px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.user-dashboard .label-text-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.user-dashboard .label-text {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  margin-bottom: -1px;
  font-family: var(--m3-title-medium-font-family);
  font-weight: var(--m3-title-medium-font-weight);
  color: var(--material-themesyslightprimary);
  font-size: var(--m3-title-medium-font-size);
  text-align: center;
  letter-spacing: var(--m3-title-medium-letter-spacing);
  line-height: var(--m3-title-medium-line-height);
  white-space: nowrap;
  font-style: var(--m3-title-medium-font-style);
}

.user-dashboard .frame-4 {
  flex-direction: column;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}

.user-dashboard .horizontal-card-3 {
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  display: flex;
  height: 80px;
  align-items: flex-start;
  border-radius: 12px;
}

.user-dashboard .card-state-layer-3 {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--material-themesyslightsurface);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--m3syslightoutline-variant);
}

.user-dashboard .header-4 {
  display: flex;
  width: 414px;
  height: 80px;
  align-items: center;
  position: relative;
}