<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide3.css" />
    <link rel="stylesheet" href="/static/css/style3.css" />
    <!-- Import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="modal" id="loadingModal">
      <div class="modal-content">
          <p>Loading...</p>
      </div>
  </div>
    <div class="project-creation">
      <div class="div">
        <div class="component">
          <div class="headline"><div class="text-wrapper">Title</div></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="nav-item">
            <div class="state-layer">
              <img class="img" src="/static/icons/icon.svg" />
              <div class="text-wrapper-2">Label</div>
              <div class="badge-label-text">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="divider"><img class="img-2" src="/static/icons/divider-2.svg" /></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="divider"><img class="img-2" src="/static/icons/divider.svg" /></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="/static/icons/image.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
        </div>
        <div class="top-app-bar">
          <div class="div-2">
            <div class="container">
              <div class="img-wrapper"><img class="img" src="/static/icons/menu-24px.svg" /></div>
            </div>
          </div>
          <div class="headline-2">SciMerge</div>
          <div class="div-2">
            <div class="container">
              <div class="img-wrapper"><img class="img" src="/static/icons/account-circle-filled-24px.svg" /></div>
            </div>
          </div>
        </div>
        <div class="horizontal-card">
          <div class="card-state-layer"></div>
          <div class="content-container">
            <div class="header">
              <div class="content">
                <div class="text">
                  <div class="header-2">Header</div>
                  <div class="subhead">Subhead</div>
                </div>
              </div>
              <div class="media"><img class="media-2" src="/static/icons/media.png" /></div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-4">Create a new project</div>
        <div class="search-bar">
          <div class="state-layer-2">
            <div class="div-2"></div>
            <div class="supporting-text-wrapper"><p class="supporting-text">Search for a project or a keyword</p></div>
            <div class="trailing-elements">
              <div class="div-2">
                <div class="container">
                  <div class="img-wrapper"><img class="img" src="/static/icons/icon-3.svg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group">
          <div class="navigation-drawer">
            <img class="trailing-icon" src="/static/icons/trailing-icon.svg" />
          </div>
          <div class="text-wrapper-5">Magic Suggestions</div>
        </div>
        <div class="frame">
          <button class="button2" id="fetchsuggestionbutton">
            <div class="label-text-wrapper"><div class="label-text-2">Fetch Suggestions</div></div>
          </button>
          <button class="button">
            <div class="label-text-wrapper"><div class="label-text">Cancel</div></div>
          </button>
          <button class="button2" id="continuebutton">
            <div class="label-text-wrapper"><div class="label-text-2">Save &amp; Continue</div></div>
          </button>
        </div>
        <div class="frame-2">
          <div class="text-field">
            <div class="text-field-2">
              <div class="content-wrapper">
                <div class="content-3">
                  <div class="div-wrapper-2"><div class="label-text-3"></div></div>
                  <div class="div-wrapper-2">
                    <input type="text" class="input-text" id="title" placeholder="Title">
                  </div>
                </div>
              </div>
            </div>
            <img class="img-2" src="/static/icons/active-indicator.svg" />
          </div>
          <div class="text-field-3">
            <div class="text-field-4">
              <div class="content-wrapper">
                <div class="content-3">
                  <div class="div-wrapper-2"><div class="label-text-3"></div></div>
                  <div class="div-wrapper-3">
                    <textarea class="input-text-2" id="abstract" placeholder="Abstract"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <img class="img-2" src="/static/icons/active-indicator-2.svg" />
          </div>
          <div class="text-field-5">
            <div class="taglist" id="taglist">
              
            </div>
            <img class="img-2" src="/static/icons/active-indicator-3.svg" />
          </div>
          <p class="p">Enter the details of your project</p>
        </div>
      </div>
    </div>
  </body>
  <script>
    function fetchsuggestions() {
      var title=document.getElementById("title").value;
      var abstract=document.getElementById("abstract").value;
      fetch("/api/liveprompt", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: title,
          abstract: abstract,
          username: "user"
        })
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        console.log(data);
        var suggestions = data;
        for (i=0 ; i<suggestions.length ; i++){
          console.log("ok")
        //Populate the suggestions by making stacked cards in overlap group
        var card = document.createElement("div");
        card.className = "stacked-card";
        var stateLayer = document.createElement("div");
        stateLayer.className = "card-state-layer-2";
        var contentContainer = document.createElement("div");
        contentContainer.className = "content-container";
        var mediaTextContent = document.createElement("div");
        mediaTextContent.className = "media-text-content";
        var header = document.createElement("div");
        header.className = "header-3";
        var content = document.createElement("div");
        content.className = "content-2";
        var text = document.createElement("div");
        text.className = "text";
        var header2 = document.createElement("div");
        header2.className = "header-2";
        header2.innerHTML = suggestions[i];
        var subhead = document.createElement("div");
        subhead.className = "subhead-2";
        var media = document.createElement("div");
        media.className = "media-3";
        var img = document.createElement("img");
        img.className = "img-3";
        // All append child
        
        contentContainer.appendChild(mediaTextContent);
        mediaTextContent.appendChild(header);
        mediaTextContent.appendChild(media);
        header.appendChild(content);
        content.appendChild(text);
        text.appendChild(header2);
        text.appendChild(subhead);
        media.appendChild(img);
        card.appendChild(stateLayer);
        card.appendChild(contentContainer);
        document.getElementsByClassName("navigation-drawer")[0].appendChild(card);
        }
        
      });
      
    }
    function fetchtags() {
      var title=document.getElementById("title").value;
      var abstract=document.getElementById("abstract").value;
      document.getElementById("loadingModal").style.display = "block";
      fetch("/api/tags/project", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: title,
          abstract: abstract,
          username: "user"
        })
      }).then(function(response) {
        document.getElementById("loadingModal").style.display = "none";
        return response.json();
      }).then(function(data) {
        console.log(data);
        var tags = data;
        for (i=0 ; i<tags.length ; i++){
          console.log("ok")
        //Populate the suggestions by making stacked cards in overlap group
        var card = document.createElement("div");
        card.className = "filter-chip";
        var stateLayer = document.createElement("div");
        stateLayer.className = "state-layer-3";
        var label = document.createElement("div");
        label.className = "label-text-4";
        label.innerHTML = tags[i];
        var trailingIcon = document.createElement("img");
        trailingIcon.className = "trailing-icon-2";
        trailingIcon.src = "/static/icons/trailing-icon-2.svg";
        // All append child
        
        stateLayer.appendChild(label);
        stateLayer.appendChild(trailingIcon);
        card.appendChild(stateLayer);
        document.getElementsByClassName("taglist")[0].appendChild(card);
        
        }
      }
      
      )
    }
    function submitData() {
      var title=document.getElementById("title").value;
      var abstract=document.getElementById("abstract").value;
      var tags=document.getElementsByClassName("label-text-4");
      var taglist=[];
      for (i=0 ; i<tags.length ; i++){
        taglist.push(tags[i].innerHTML);
      }
      fetch("/createproject", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: title,
          abstract: abstract,
          tags: taglist
        })
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        console.log(data);
        projectid=data.uniqueid;
        window.location.href = '/suggestions/'+projectid;
      });
    }

    function fetchAIdata() {
      fetchsuggestions();
      fetchtags();
    }
    $(document).ready(function() {
      console.log("ready");
      document.getElementById("fetchsuggestionbutton").addEventListener("click", fetchAIdata);
      document.getElementById("continuebutton").addEventListener("click", submitData);
    });
  </script>
</html>
