<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="user-dashboard">
      <div class="div">
        <div class="navigation-drawer">
          <div class="headline"><div class="text-wrapper">Title</div></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="nav-item">
            <div class="state-layer">
              <img class="img" src="img/image.svg" />
              <div class="text-wrapper-2">Label</div>
              <div class="badge-label-text">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-2.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-2.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-2.svg" />
              <div class="text-wrapper-3">Label</div>
              <div class="badge-label-text-2">100+</div>
            </div>
          </div>
          <div class="divider"><img class="divider-2" src="img/divider.svg" /></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="divider"><img class="divider-2" src="img/divider-2.svg" /></div>
          <div class="section-header">
            <div class="left"><div class="label">Section Header</div></div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-4.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-4.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
          <div class="state-layer-wrapper">
            <div class="state-layer">
              <img class="img" src="img/icon-4.svg" />
              <div class="text-wrapper-3">Label</div>
            </div>
          </div>
        </div>
        <div class="top-app-bar">
          <div class="div-2">
            <div class="container">
              <button id="toggleNav"><div class="img-wrapper"><img class="img" src="img/menu-24px.svg" /></div></button>
            </div>
          </div>
          <div class="headline-2">SciMerge</div>
          <div class="div-2">
            <div class="container">
              <div class="img-wrapper"><img class="img" src="img/account-circle-filled-24px.svg" /></div>
            </div>
          </div>
        </div>
        <div class="horizontal-card">
          <div class="card-state-layer"></div>
          <div class="content-container">
            <div class="header">
              <div class="content">
                <div class="text">
                  <div class="header-2">Header</div>
                  <div class="subhead">Subhead</div>
                </div>
              </div>
              <div class="media"><img class="media-2" src="img/media-2.png" /></div>
            </div>
          </div>
        </div>
        <div class="search-bar">
          <div class="state-layer-2">
            <div class="div-2"></div>
            <div class="supporting-text-wrapper"><div class="supporting-text">Hinted search text</div></div>
            <div class="trailing-elements">
              <div class="div-2">
                <div class="container">
                  <div class="img-wrapper"><img class="img" src="img/icon-3.svg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame">
          <p class="p">Hi S, what are you looking for today?</p>
        </div>
        <div class="frame-2">
          <div class="frame-3">
            <div class="text-wrapper-5">Past projects</div>
            <button class="button">
              <div class="label-text-wrapper"><div class="label-text">View all</div></div>
            </button>
          </div>
          <div class="frame-4">
            <div class="horizontal-card-3">
              <div class="card-state-layer-3"></div>
              <div class="content-container">
                <div class="header-4">
                  <div class="content">
                    <div class="text">
                      <div class="header-2">Header</div>
                      <div class="subhead">Subhead</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="horizontal-card-3">
              <div class="card-state-layer-3"></div>
              <div class="content-container">
                <div class="header-4">
                  <div class="content">
                    <div class="text">
                      <div class="header-2">Header</div>
                      <div class="subhead">Subhead</div>
                    </div>
                  </div>
                  <div class="media"></div>
                </div>
              </div>
            </div>
            <div class="horizontal-card-3">
              <div class="card-state-layer-3"></div>
              <div class="content-container">
                <div class="header-4">
                  <div class="content">
                    <div class="text">
                      <div class="header-2">Header</div>
                      <div class="subhead">Subhead</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="horizontal-card-3">
              <div class="card-state-layer-3"></div>
              <div class="content-container">
                <div class="header-4">
                  <div class="content">
                    <div class="text">
                      <div class="header-2">Header</div>
                      <div class="subhead">Subhead</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      
    
    const menu = document.getElementById('toggleNav');
    const drawer = document.querySelector('.navigation-drawer');
    const main = document.querySelector('.user-dashboard');
    menu.addEventListener('click', function(e) {
      drawer.classList.toggle('open');
      e.stopPropagation();
    });
    main.addEventListener('click', function() {
      drawer.classList.remove('open');
    });
  });
  </script>
</html>