<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide2.css" />
    <link rel="stylesheet" href="/static/css/style2.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="div">
        <div class="overlap-group">
          <div class="top-app-bar">
            <div class="leading-icon"></div>
            <div class="headline">SciMerge</div>
          </div>
          <div class="frame">
            <button class="button">
              <div class="state-layer">
                <img class="flat-color-icons" src="img/flat-color-icons-google.svg" />
                <div class="label-text">Continue with Google</div>
              </div>
            </button>
            <div class="text-wrapper">Or</div>
            <form action="/login" method="post">
            <div class="text-field">
              <div class="state-layer-wrapper">
                <div class="content-wrapper">
                  <div class="content">
                    <div class="div-wrapper"><div class="label-text-2"></div></div>
                    <input class="input-text" name="username" placeholder="Username" type="text" />
                  </div>
                </div>
              </div>
              <img class="active-indicator" src="img/active-indicator.svg" />
            </div>
            <div class="text-field">
              <div class="state-layer-wrapper">
                <div class="content-wrapper">
                  <div class="content">
                    <div class="div-wrapper"><div class="label-text-2"></div></div>
                    <input class="input-text" type="password" name="password" placeholder="password" />
                  </div>
                </div>
              </div>
              <img class="active-indicator" src="img/image.svg" />
            </div>
            <button type="submit" class="button-2">
              <div class="label-text-wrapper"><div class="label-text-3">Login</div></div>
            </button>
          </form>
            <button class="button-3">
              <div class="state-layer-2"><div class="label-text-4">Forgot password</div></div>
            </button>
            <div class="frame-2">
              <div class="text-wrapper-2">No account?</div>
              <button class="button-4">
                <div class="state-layer-2"><div class="label-text-4">Create one</div></div>
              </button>
            </div>
          </div>
        </div>
        <div class="horizontal-card">
          <div class="card-state-layer"></div>
          <div class="content-container">
            <header class="header">
              <div class="content-2">
                <div class="text">
                  <div class="header-2">Header</div>
                  <div class="subhead">Subhead</div>
                </div>
              </div>
              <div class="media"><img class="img" src="img/media.png" /></div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
