<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="new-user">
      <div class="div">
        <div class="horizontal-card">
          <div class="card-state-layer"></div>
          <div class="content-container">
            <header class="header">
              <div class="content">
                <div class="text">
                  <div class="text-wrapper">Header</div>
                  <div class="subhead">Subhead</div>
                </div>
              </div>
              <div class="media"><img class="img" src="img/media.png" /></div>
            </header>
          </div>
        </div>
        <div class="top-app-bar">
          <div class="leading-icon"></div>
          <div class="headline">SciMerge</div>
        </div>
        <p class="p">Welcome to SciMerge, a one-stop solution for all your research needs!</p>
        <div class="frame">
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <input class="input-text" placeholder="Email" type="email" />
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator-6.svg" />
          </div>
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <input class="input-text" placeholder="First name" type="text" />
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/image.svg" />
          </div>
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <input class="input-text" placeholder="Last name" type="text" />
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator.svg" />
          </div>
        </div>
        <div class="frame-2">
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <div class="div-wrapper"><div class="input-text-2">Previous experience</div></div>
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator-4.svg" />
          </div>
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <div class="div-wrapper"><div class="input-text-2">Add your interests</div></div>
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator-2.svg" />
          </div>
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <input class="input-text" placeholder="Username" type="text" />
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator-5.svg" />
          </div>
          <div class="text-field">
            <div class="state-layer-wrapper">
              <div class="state-layer">
                <div class="content-2">
                  <div class="div-wrapper"><div class="label-text"></div></div>
                  <div class="div-wrapper"><div class="input-text-2">New Password</div></div>
                </div>
              </div>
            </div>
            <img class="active-indicator" src="img/active-indicator-3.svg" />
          </div>
        </div>
        <button class="button">
          <div class="label-text-wrapper"><div class="label-text-2">Create account</div></div>
        </button>
        <div class="text-wrapper-2">Sign up</div>
        <button class="button-2">
          <div class="state-layer-2">
            <img class="flat-color-icons" src="img/flat-color-icons-google.svg" />
            <div class="label-text-3">Sign up with Google</div>
          </div>
        </button>
        <div class="text-wrapper-3">Or</div>
        <div class="frame-3">
          <div class="text-wrapper-4">Already have an account?</div>
          <button class="button-3">
            <div class="state-layer-3"><div class="label-text-4">Log-in</div></div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
